fastapi==0.115.0
python-multipart==0.0.10
injector==0.22.0
pyyaml==6.0.2
watchdog==4.0.1
transformers==4.44.2
docx2txt==0.8
cryptography==3.1
llama-index-core>=0.11.2,<0.12.0
llama-index-readers-file
llama-index-llms-gemini
llama-index-embeddings-gemini
llama-index-vector-stores-qdrant
uvicorn[standard]==0.28.0
gradio==4.44.0
ffmpy==0.4.0
pydantic==2.4.2
pydantic-settings==2.0.3
