fastapi
python-multipart
injector
pyyaml
watchdog
transformers
docx2txt
cryptography
llama-index-core
llama-index-readers-file
llama-index-llms-gemini
llama-index-embeddings-gemini
llama-index-vector-stores-qdrant
uvicorn[standard]
gradio
ffmpy
pydantic-settings
