fastapi>=0.103.1
python-multipart>=0.0.6
injector>=0.21.0
pyyaml>=6.0.1
watchdog>=3.0.0
transformers>=4.33.2
docx2txt>=0.8
cryptography>=41.0.3
llama-index-core>=0.10.12
llama-index-readers-file>=0.1.6
llama-index-llms-gemini>=0.1.6
llama-index-embeddings-gemini>=0.1.6
llama-index-vector-stores-qdrant>=0.1.2
uvicorn[standard]>=0.23.2
gradio>=3.44.3
ffmpy>=0.3.1
pydantic<2.0.0
pydantic-settings>=2.0.3
